:root{
    --background-white:#fafafa;
    --dark-blue:#375085;
    --light-blue:#67b6fa;
    --footer-gray:#929292;
}

body{
    background-color: #fafafa;
    min-height: 100vh;

}

*{
    font-family: 'Roboto', sans-serif;
}

.error{
    display: none;
}
.body{
    display:flex;
    flex-wrap: wrap;
    
}

.images-container{
 position: relative;
}

.img-back{

    width:550px;
    height:650px;
    object-fit: contain;
    margin-top: 8%;
   margin-left:40%;
    
}

.img-front{
    display: none;
}

.login-section{
    background-color:var(--background-white);
    width:350px;
    height: 450px;
    border: 1px solid lightgray;
    margin-top: 4%;
    margin-left: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.login-section > div{
    justify-content: center;
}

.app-title{
    justify-content: center;
}

#title{
    width: 175px;
    height:70px;
    object-fit: contain;
    background-color: transparent;
    margin: 2em auto;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.input-box{
    background-color: var(--background-white);
    justify-content: center;
    width: 250px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  
}

.password-section a{
    text-decoration: none;
    color:var(--dark-blue);
}
#password-input{
    margin-top:8px;
}

#login-btn{
    background-color: var(--light-blue);
    width:275px;
    height:40px;
    margin-top: 3%;
    border-radius: 12px;
    color:var(--background-white);
    border-style: none;
    justify-content: center;
}

.login-option2{
    justify-content: center;
}


.facebook-login{
    display: flex;
}


.facebook{
    display: flex;
   align-items: center;
   gap:10px;

}

#facebook-icon{
    width:18px;
    height:20px;
    object-fit: contain;
   
}

.password-font{
    color:var(--dark-blue);
    text-align: center;
    font-size: 14px;
}

.bold-font{
    font-weight:600;
    font-size: 16px;
    
     
}

.signup{
    position: relative;
     width:350px;
    height:60px;
    border: 1px solid lightgray;
    text-align: center;
    margin-top: 12%;
    
}

#signup-font{
    font-size: 14px;
    color:var(--light-blue);
    font-weight: 600;
    font-style: bold;
  
}

.action{
    text-align: center;
    font-size: 16px;
    
}

.icons{
    
    margin-top: 5%;
    
}

.store-icons{
    position:relative;
    width:130px;
    height: 40px;
    aspect-ratio: 3/2;
    object-fit: contain;
    
}



/* View for Ipad Air */
@media screen and (max-width: 820px){
    .images-container{
    display: none;
   }
   .login-section{
    width:100%;
   }
   .footer{
    width:50%;
    justify-content: center;
   }
}

/* View for iphone XR */
@media screen and (max-width : 414px){
   .images-container{
    display: none;
   }
   .login-section{
    width:100%;
   }
}


@media screen and (max-width: 250px){
    .body{
        display: none;
    }
    .error{
        display: block;
    }
    .footer{
        display: none;
    }
}

.footer{
    position:sticky;
    top:100%;
 
}

.footer-list{
list-style: none;
display: flex;
flex-wrap: wrap;
gap: 2%;
margin-left: 20%;
font-size: 12px;
line-height: 16px;
}

.footer-list a{
    text-decoration: none;
    list-style: none;
    color:var(--footer-gray);

}

.languag-and-rights{
    display: flex;
    justify-content: center;
    font-size: 12px;
    line-height: 16px;
    color:var(--footer-gray );

}